.fontDps {
    font-size: 150%;
    font-weight: bold;
}

.button {
    display: flex;
    background-color: green;
    color: lightgreen;
    border: solid 2px;
    padding-left: 105px;
    padding-right: 105px;
    align-self: center;
    font-size: 500%;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 3px gray;
}

.mainBody {
    display: flex;
    justify-content: space-around;
}

.centerBody {
    display: flex;
    flex-direction: column;
}

.leftBody {
    display: flex;
    flex-direction: column;
}

.rightBody {
    display: flex;
    flex-direction: column;
}

.centerHorizontal {
    display: flex;
    justify-content: center;
}