.centerHor {
    display: flex;
    justify-content: center;
}

.centerHorDp {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.fontDps {
    font-size: 150%;
    font-weight: bold;
}

.button {
    display: flex;
    background-color: green;
    color: lightgreen;
    border: solid 2px;
    padding-left: 8%;
    padding-right: 8%;
    align-self: center;
    font-size: 500%;
    font-weight: bold;
    text-align: center;
    box-shadow: 1px 3px gray;
}